# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Entornos virtuales
venv/
env/
entorno/
.venv/
.env/

# Archivos de bases de datos
*.sqlite3

# Archivos de configuración de Django
*.log
*.pot
*.pyc

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de sistemas operativos
.DS_Store
Thumbs.db

# Archivos generados por el sistema
*.bak
*.swp

# Configuración de seguridad de Django
*.env
